# Node
node_modules/
dist/
build/
.webpack/
.expo/

# Java
**/build/
**/.gradle/
*.jar
*.war
target/
*.class
*.log


# Android
android/.gradle/
android/build/
android/app/build/
*.keystore
.gradle/
/.idea/

# Base de datos
*.db
*.sqlite

# IDEs
/.vscode/
/.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Mac/Windows
.DS_Store
Thumbs.db

# Environment files
PROMPT.md
.env
.vscode
settings.json
AGENTS.md
.opencode
context